@{
    Layout = "~/Views/Shared/UniversityLayoutPage.cshtml";
    ViewBag.Title = "University Home";
}

<div style="text-align: center;">
    <h1>Welcome to University Course & Result Management System</h1>
    <img src="~/image/university.png" alt="Flowers in Chania" width="460" height="400">
</div>

